.App {
  text-align: center;
}

.content {
  max-width: 500px;
  margin: auto;
}

body, html {
  background-image: url("back.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  height: 100%;
  margin: 0;
}




